<div class="col-md-10 col-sm-12">
  <%= form_for ([@company,@contract]) do |f| %>
    <% if contract.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h3><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h3>
        <ul>
          <% contract.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group row">
      <%= f.label :contract_title, "Title", :class => "col-md-2 col-sm-4 col-form-label" %>
      <div class="col-7">
        <%= f.text_field :contract_title, :class => "form-control", :placeholder => "Enter Contract Title" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :website, "Website", :class => "col-2 col-form-label" %>
      <div class="col-7">
        <%= f.text_field :website, :class => "form-control", :placeholder => "Contract Website: Optional" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :application, "Application", :class => "col-2 col-form-label" %>
      <div class="col-7">
        <%= f.text_field :application, :class => "form-control", :placeholder => "Name of Mobile Application: Optional" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :contract_type, "Contract Type", :class => "col-2 col-form-label" %>
      <div class="col-7">
        <%= f.select(:contract_type, options_for_select(Contract::TYPES, f.object.contract_type), {}, {class: 'form-control'}) %>
      </div>
    </div>
    <%= f.submit "Save", :class => "btn btn-primary" %>
  <% end %>
</div>
