<div class="container pt-5">
  <div class="col-md-10">
    <p class="h3"><%= @company.company_name %> - <%= @company.website %></p>

    <% if @contracts.size > 0 %>
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>Title</th>
            <th>Website</th>
            <th>Application</th>
            <th>Date</th>
            <th>Type</th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% @contracts.each_with_index do |contract, index| %>
            <tr>
              <th><%= contract.contract_title %></th>
              <td><%= contract.website %></td>
              <td><%= contract.application %></td>
              <td>
                <% if contract.contract_revisions.size > 0 %>
                  <ul class="contract-revision-list">
                  <% contract.contract_revisions.each do |revision| %>
                    <li><%= link_to revision.contract_date.strftime('%m/%d/%Y'), contract_contract_revision_path(contract,revision) %></li>
                  <% end %>
                  </ul>
                <% end %>
              </td>
              <td><%= contract.contract_type %></td>
              <% if user_signed_in? && current_user.admin? %>
                <td>
                  <%= link_to 'Edit', edit_company_contract_path(@company,contract) %>
                </td>
                <td>
                  <%= link_to 'Add version', new_contract_contract_revision_path(contract) %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info" role="alert">
        Waiting to be reviewed
      </div>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Create New Contract', new_company_contract_path(@company) %>
    <% end %>
  </div>
</div>
