<div class="container pt-5">
  <div class="col-md-10">
    <p class="h3"><%= @company.company_name %> - <%= @company.website %>
      <% if user_signed_in? && current_user.admin? %>
        <span class="h4"><%= link_to 'Edit', edit_company_path(@company) %></span>
      <% end %>
    </p>

    <%= render 'shared/fine_print' %>

    <h5>Note: If the contract(s) below have an updated version, please <%= link_to "request an updated review.".html_safe, new_company_path %></h5><br>

    <% if @contracts.size > 0 %>
      <table class="table" id="view-lg">
        <thead class="thead-default">
          <tr>
            <th>Title</th>
            <th>Website</th>
            <th>Application</th>
            <th>Date</th>
            <th>Total Rating</th>
            <th>Type</th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% @contracts.each_with_index do |contract, index| %>
            <tr>
              <th><%= contract.contract_title %></th>
              <td>
                <ul class="contract-revision-list">
                <% contract.contract_revisions.each do |revision| %>
                  <li>
                    <% if revision.tos_url.present? %>
                      <a href="http://<%= revision.tos_url %>" target="_blank">
                        <%= contract.website %>
                      </a>
                    <% else %>
                      <%= contract.website %>
                    <% end %>
                  </li>
                <% end %>
                </ul>
              </td>
              <td><%= contract.application %></td>
              <% if contract.contract_revisions.size > 0 %>
              <td>
                <ul class="contract-revision-list">
                <% contract.contract_revisions.each do |revision| %>
                  <li>
                    <% if revision.tos_url.present? %>
                        <%= revision.contract_date.strftime('%m/%d/%Y') %>
                      </a>
                    <% else %>
                      <%= revision.contract_date.strftime('%m/%d/%Y') %>
                    <% end %>
                  </li>
                <% end %>
                </ul>
              </td>
              <td>
                <ul class="contract-revision-list">
                <% contract.contract_revisions.each do |revision| %>
                  <li>
                    <a href="<%= contract_contract_revision_path(contract,revision) %>">
                      <%= revision.total_rating.round(2) %>
                    </a>
                    <span>/100</span>
                  </li>
                <% end %>
                </ul>
              </td>
              <% else %>
              <td> </td><td> </td>
              <% end %>
              <td><%= contract.contract_type %></td>
              <% if user_signed_in? && current_user.admin? %>
                <td>
                  <%= link_to 'Edit', edit_company_contract_path(@company,contract) %>
                </td>
                <td>
                  <%= link_to 'Add version', new_contract_contract_revision_path(contract) %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table contract-table" style="display: none;" id="view-sm">
        <tbody>
          <% @contracts.each_with_index do |contract, index| %>
            <tr class="dropdown-head">
              <th scope="col">Titles</th>
              <td>
                <%= contract.contract_title %>
                <span style="float: right;">▼</span>
              </td>
            </tr>
            <tr class="dropdown-element">
              <th scope="col">Website</th>
              <td><%= contract.website %></td>
            </tr>
            <tr class="dropdown-element">
              <th scope="col">Application</th>
              <td><%= contract.application %></td>
            </tr>
            <% if contract.contract_revisions.size > 0 %>
              <tr class="dropdown-element">
                <th scope="col">Date</th>
                <td>
                  <ul class="contract-revision-list">
                  <% contract.contract_revisions.each do |revision| %>
                    <li><a href="http://<%= revision.tos_url %>" target="_blank"><%= revision.contract_date.strftime('%m/%d/%Y') %></a></li>
                  <% end %>
                  </ul>
                </td>
              </tr>
              <tr class="dropdown-element">
                <th scope="col">Total Rating</th>
                <td>
                  <ul class="contract-revision-list">
                  <% contract.contract_revisions.each do |revision| %>
                    <li>
                      <a href="<%= contract_contract_revision_path(contract,revision) %>">
                        <%= revision.total_rating.round(2) %>
                      </a>
                      <span>/100</span>
                    </li>
                  <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
            <tr class="dropdown-element">
              <th scope="col">Type</th>
              <td><%= contract.contract_type %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info" role="alert">
        Waiting to be reviewed
      </div>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Create New Contract', new_company_contract_path(@company) %>
    <% end %>
    <%= render 'shared/large_fine_print' %>
  </div>
</div>
<script type="text/javascript">
  var RESIZE_WIDTH = 767;
  function resizeTables(){
    if($(window).width() > RESIZE_WIDTH){
      $("#view-lg").show();
      $("#view-sm").hide();
    }else{
      $("#view-lg").hide();

      $("#view-sm").show();
      //Reset small table's hidden rows
      $(".dropdown-element").show();
    }
  }
  $(window).resize(resizeTables);
  $(document).ready(resizeTables);
  $(".dropdown-head").click(function(){
    $(this).nextUntil(".dropdown-head").toggle();
  });
</script>
