<div class="col-md-10 col-sm-12">
  <%= form_for ([@contract,@contract_revision]) do |f| %>
    <% if contract_revision.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h3><%= pluralize(contract_revision.errors.count, "error") %> prohibited this contract version from being saved:</h3>
        <ul>
          <% contract_revision.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render 'contract_detail' %>
    <div class="form-group row">
      <%= f.label :contract_date, "Date", :class => "col-2 col-form-label" %>
      <div class="col-5">
        <%= f.text_field :contract_date, value: @contract_revision.contract_date.try(:strftime, '%m/%d/%Y'), data:{ provide:'datepicker' }, :class => "form-control", :placeholder => "Enter Contract Date" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :tos_url, "URL of TOS", :class => "col-2 col-form-label" %>
      <div class="col-5">
        <%= f.text_field :tos_url, :class => "form-control", :placeholder => "Direct URL to TOS: Optional" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_1, "The Right to Sue", :class => "col-md-4 col-sm-5 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_1, options_for_select(ContractRevision::SCORES, f.object.rating_1), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= f.text_area :rating_1_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_2, "The Right to Low-Cost Arbitration", :class => "col-4 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_2, options_for_select(ContractRevision::SCORES, f.object.rating_2), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-4">
        <%= f.text_area :rating_2_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_3, "The Right to a Class Action", :class => "col-4 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_3, options_for_select(ContractRevision::SCORES, f.object.rating_3), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-4">
        <%= f.text_area :rating_3_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_4, "The Right to Due Process", :class => "col-4 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_4, options_for_select(ContractRevision::SCORES,f.object.rating_4), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-4">
        <%= f.text_area :rating_4_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_5, "The Right to No Hidden Terms or Fees", :class => "col-4 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_5, options_for_select(ContractRevision::SCORES,f.object.rating_5), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-4">
        <%= f.text_area :rating_5_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_6, "The Right to Defend Myself & Be Heard", :class => "col-4 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_6, options_for_select(ContractRevision::SCORES, f.object.rating_6), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-4">
        <%= f.text_area :rating_6_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_7, "The Right to Control My Intellectual Property", :class => "col-4 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_7, options_for_select(ContractRevision::SCORES, f.object.rating_7), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-4">
        <%= f.text_area :rating_7_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_8, "The Right to Freedom of Expression", :class => "col-4 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_8, options_for_select(ContractRevision::SCORES, f.object.rating_8), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-4">
        <%= f.text_area :rating_8_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_9, "The Right to Privacy", :class => "col-4 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_9, options_for_select(ContractRevision::SCORES, f.object.rating_9), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-4">
        <%= f.text_area :rating_9_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_10, "The Right to Reasonable Terms", :class => "col-4 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_10, options_for_select(ContractRevision::SCORES, f.object.rating_10), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-4">
        <%= f.text_area :rating_10_note, :class => "form-control", :placeholder => "Enter Note", :row => 4 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :rating_14, "Public Placement of TOS Rating Badge", :class => "col-6 col-form-label" %>
      <div class="col-2">
        <%= f.select(:rating_14, ContractRevision::BADGES, {}, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :additional_note, :class => "col-2 col-form-label" %>
      <div class="col-10">
        <%= f.text_area :additional_note, :class => "form-control", :placeholder => "Enter additional note", :row => 3 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :ways_to_improve, :class => "col-2 col-form-label" %>
      <div class="col-10">
        <%= f.text_area :ways_to_improve, :class => "form-control", :placeholder => "Enter ways to improve", :row => 3 %>
      </div>
    </div>
    <%= f.submit "Save", :class => "btn btn-primary" %>
  <% end %>
</div>
