<div class="container pt-5">
  <div class="col-md-10">
    <p class="h3"><%= @contract.company.company_name %> - <%= @contract.company.website %></p>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#contract" role="tab">Contract</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#review" role="tab">Reviewed by</a>
      </li>
      <% if user_signed_in? && !current_user.admin? %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#rating">User Rating</a>
        </li>
      <% end %>
    </ul>
    <br />
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="contract" role="tabpanel">
        <%= render 'shared/fine_print' %>
        <br />
        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Contract Title</th>
              <td><%= @contract.contract_title %></td>
            </tr>
            <tr>
              <th scope="col">Contract Website</th>
              <td><%= @contract.website %></td>
            </tr>
            <tr>
              <th scope="col">Contract Application</th>
              <td><%= @contract.application %></td>
            </tr>
            <tr>
              <th scope="col">Contract Type</th>
              <td><%= @contract.contract_type %></td>
            </tr>
            <tr>
              <th scope="col">Direct URL to TOS</th>
              <td><%= @contract_revision.tos_url %></td>
            </tr>
            <tr>
              <th scope="col">Contract Date</th>
              <td><%= @contract_revision.contract_date.strftime('%m/%d/%Y') %></td>
            </tr>
            <tr>
              <th scope="col">The Right to Sue</th>
              <td><%= @contract_revision.rating_1 %></td>
              <% if !@contract_revision.rating_1_note.nil? %>
                <td>
                  <%= @contract_revision.rating_1_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Low-Cost Arbitration</th>
              <td><%= @contract_revision.rating_2 %></td>
              <% if !@contract_revision.rating_2_note.nil? %>
                <td>
                  <%= @contract_revision.rating_2_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to a Class Action</th>
              <td><%= @contract_revision.rating_3 %></td>
              <% if !@contract_revision.rating_3_note.nil? %>
                <td>
                  <%= @contract_revision.rating_3_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Due Process</th>
              <td><%= @contract_revision.rating_4 %></td>
              <% if !@contract_revision.rating_4_note.nil? %>
                <td>
                  <%= @contract_revision.rating_4_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to No Hidden Terms or Fees</th>
              <td><%= @contract_revision.rating_5 %></td>
              <% if !@contract_revision.rating_5_note.nil? %>
                <td>
                  <%= @contract_revision.rating_5_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Defend Myself & Be Heard</th>
              <td><%= @contract_revision.rating_6 %></td>
              <% if !@contract_revision.rating_6_note.nil? %>
                <td>
                  <%= @contract_revision.rating_6_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Control My Intellectual Property</th>
              <td><%= @contract_revision.rating_7 %></td>
              <% if !@contract_revision.rating_7_note.nil? %>
                <td>
                  <%= @contract_revision.rating_7_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Freedom of Expression</th>
              <td><%= @contract_revision.rating_8 %></td>
              <% if !@contract_revision.rating_8_note.nil? %>
                <td>
                  <%= @contract_revision.rating_8_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Privacy</th>
              <td><%= @contract_revision.rating_9 %></td>
              <% if !@contract_revision.rating_9_note.nil? %>
                <td>
                  <%= @contract_revision.rating_9_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Reasonable Terms</th>
              <td><%= @contract_revision.rating_10 %></td>
              <% if !@contract_revision.rating_10_note.nil? %>
                <td>
                  <%= @contract_revision.rating_10_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">Historical Fairness</th>
              <td><%= "#{@contract_revision.rating_11.round(2)}" %></td>
            </tr>
            <tr>
              <th scope="col">Historical User Ratings</th>
              <td><%= "#{@contract_revision.rating_12.round(2)}" %></td>
            </tr>
            <tr>
              <th scope="col">Historical Lack of Lawsuits or Arbitrations</th>
              <td><%= "#{@contract_revision.rating_13.round(2)}" %></td>
            </tr>
            <tr>
              <th scope="col">Public Placement of TOS Rating Badge</th>
              <td><%= "#{@contract_revision.rating_14.round(2)}" %></td>
            </tr>
            <tr>
              <th scope="col">Total Rating</th>
              <td><%= "#{@contract_revision.total_rating.round(2)}" %></td>
            </tr>
            <tr>
              <th scope="col">Additional Note</th>
              <td><%= @contract_revision.additional_note %></td>
            </tr>
            <tr>
              <th scope="col">Ways to improve</th>
              <td><%= @contract_revision.ways_to_improve %></td>
            </tr>
          </tbody>
        </table>
        <div class="btn-group" role="group" >
          <% if user_signed_in? && current_user.admin? %>
            <%= button_to 'Edit', edit_contract_contract_revision_path(@contract, @contract_revision), method: :get, class: 'btn btn-primary' %>
          <% end %>
          &nbsp;
          <%= link_to 'Back', company_contracts_path(@contract.company_id), class: 'btn btn-outline-secondary' %>
        </div>
        <br />
        <%= render 'shared/large_fine_print' %>
      </div>
      <div class="tab-pane" id="rating" role="tabpanel">
        <% if user_signed_in? && !current_user.admin? %>
          <div class="col-12">
            <p>
            Are you a user of this particular website and have you used this PARTICULAR terms of service? If so,
            please feel free to rate this agreement here. You do not need to be an attorney.
            <br /><br />&nbsp;
            A 0 means your experience with this terms of service has been terrible and that you do not like the terms.
            <br />&nbsp;
            A 10 means your experience with this terms of service has been wonderful and that you very much like the terms.
            <br /><br />
            As much as you can, please try to separate your personal feelings about the company itself and really make
            an effort to provide an honest analysis of the contents of the actual terms of service and your interactions
            with the company based on this particular terms of service. You may change your rating at any time.
            </p>
          </div>
          <br />
          <%= render 'contract_user_rating' %>
        <% end %>
      </div>
      <div class="tab-pane" id="review" role="tabpanel">
        <% if @user_loggings.size > 0 %>
          <%= render 'contract_review' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
