<div class="container pt-4">
  <div class="col-md-9">
    <p class="h3"><%= @contract.company.company_name %> - <%= @contract.company.website %></p>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#contract" role="tab">Contract</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#review" role="tab">Reviewed by</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#rating">User Ratings</a>
      </li>
    </ul>
    <br />
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="contract" role="tabpanel">
        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Contract Title</th>
              <td><%= @contract.contract_title %></td>
            </tr>
            <tr>
              <th scope="col">Contract Website</th>
              <td><%= @contract.website %></td>
            </tr>
            <tr>
              <th scope="col">Contract Application</th>
              <td><%= @contract.application %></td>
            </tr>
            <tr>
              <th scope="col">Contract Type</th>
              <td><%= @contract.contract_type %></td>
            </tr>
            <tr>
              <th scope="col">Contract Date</th>
              <td><%= @contract_revision.contract_date.strftime('%m/%d/%Y') %></td>
            </tr>
            <tr>
              <th scope="col">Total Rating</th>
              <td><b><%= @contract_revision.total_rating %></b></td>
            </tr>
            <tr>
              <th scope="col">The Right to Privacy</th>
              <td><%= @contract_revision.rating_1 %></td>
              <% if !@contract_revision.rating_1_note.nil? %>
                <td>
                  <%= @contract_revision.rating_1_note %>
                </td>
              <% end %>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="col">The Right to Equal, Fair, & Reasonable Expression</th>
              <td><%= @contract_revision.rating_2 %></td>
              <% if !@contract_revision.rating_2_note.nil? %>
                <td>
                  <%= @contract_revision.rating_2_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Control My Intellectual Property</th>
              <td><%= @contract_revision.rating_3 %></td>
              <% if !@contract_revision.rating_3_note.nil? %>
                <td>
                  <%= @contract_revision.rating_3_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Sue</th>
              <td><%= @contract_revision.rating_4 %></td>
              <% if !@contract_revision.rating_4_note.nil? %>
                <td>
                  <%= @contract_revision.rating_4_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Low-Cost Arbitration</th>
              <td><%= @contract_revision.rating_5 %></td>
              <% if !@contract_revision.rating_5_note.nil? %>
                <td>
                  <%= @contract_revision.rating_5_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Join a Class Action</th>
              <td><%= @contract_revision.rating_6 %></td>
              <% if !@contract_revision.rating_6_note.nil? %>
                <td>
                  <%= @contract_revision.rating_6_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to No Hidden Terms or Fees</th>
              <td><%= @contract_revision.rating_7 %></td>
              <% if !@contract_revision.rating_7_note.nil? %>
                <td>
                  <%= @contract_revision.rating_7_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Fair Process & To Be Heard</th>
              <td><%= @contract_revision.rating_8 %></td>
              <% if !@contract_revision.rating_8_note.nil? %>
                <td>
                  <%= @contract_revision.rating_8_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Appeal & The Right to Return</th>
              <td><%= @contract_revision.rating_9 %></td>
              <% if !@contract_revision.rating_9_note.nil? %>
                <td>
                  <%= @contract_revision.rating_9_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">The Right to Reasonable Terms</th>
              <td><%= @contract_revision.rating_10 %></td>
              <% if !@contract_revision.rating_10_note.nil? %>
                <td>
                  <%= @contract_revision.rating_10_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">Historical Fairness</th>
              <td><%= @contract_revision.rating_11 %></td>
            </tr>
            <tr>
              <th scope="col">Historical User Ratings</th>
              <td><%= @contract_revision.rating_12 %></td>
            </tr>
            <tr>
              <th scope="col">Historical Lack of Lawsuits or Arbitrations</th>
              <td><%= @contract_revision.rating_13 %></td>
            </tr>
            <tr>
              <th scope="col">Public Placement of TOS Rating Badge</th>
              <td><%= @contract_revision.rating_14 %></td>
            </tr>
            <tr>
              <th scope="col">Total Rating</th>
              <td><%= @contract_revision.total_rating %></td>
            </tr>
            <tr>
              <th scope="col">Total Page Count</th>
              <td><%= @contract_revision.total_page %></td>
              <% if !@contract_revision.total_page_note.nil? %>
                <td>
                  <%= @contract_revision.total_page_note %>
                </td>
              <% end %>
            </tr>
            <tr>
              <th scope="col">Additional Note</th>
              <td><%= @contract_revision.additional_note %></td>
            </tr>
            <tr>
              <th scope="col">Ways to improve</th>
              <td><%= @contract_revision.ways_to_improve %></td>
            </tr>
          </tbody>
        </table>
        <% if user_signed_in? && current_user.admin? %>
          <%= button_to 'Edit', edit_contract_contract_revision_path(@contract, @contract_revision), method: :get, class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="tab-pane" id="rating" role="tabpanel">
        <%= render 'contract_user_review' %>
      </div>
      <div class="tab-pane" id="review" role="tabpanel">
        <% if @user_loggings.size > 0 %>
          <%= render 'contract_review' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
