<tr>
  <td><span class="search-data"><%= company.company_name %></span></td>
  <td><span class="search-data"><%= company.website %></span></td>
  <td>
    <span class="search-data">
    <% if company.request_count > 0 %>
      Update Requested
    <% elsif company.contract_count == 0 %>
      Waitlisted
    <% elsif company.contract_count > 0 %>
      Reviewed
    <% end %>
    </span>
  </td>
  <td><%= link_to 'View', company_contracts_path(company) %>
  </td>
  <td>
    <%= link_to like_link_path(link), method: :put do %>
      Upvote
      <%= link.get_upvotes.size %>
    <% end %>
  </td>
  <td>
    <%= link_to dislike_link_path(link), method: :put do %>
      Downvote
      <%= link.get_downvotes.size %>
    <% end %>
  </td>
</tr>
