<tr>
  <td><span class="search-data"><%= company.company_name %></span></td>
  <td><span class="search-data"><%= company.website %></span></td>
  <td>
    <span class="search-data">
    <% if company.request_count > 0 %>
      Update Requested
    <% elsif company.contract_count == 0 %>
      Waitlisted
    <% elsif company.contract_count > 0 %>
      Reviewed
    <% end %>
    </span>
  </td>
  <td><%= link_to 'View', company_contracts_path(company) %>
  </td>
  <td>
    <% if company.request_count > 0 || company.contract_count == 0 %>
      <%= link_to like_company_path(company), method: :put do %>
        Upvote
        <%= company.get_upvotes.size %>
      <% end %>
    <% end %>
  </td>
</tr>
