
<br><br>
<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 card form">

  <h2>Log in</h2>

  <h3>Remember!  Your email address is the only method we have to identify you.  To ensure you don't get locked out of your account, please email us your full name, legal address, two cell phone numbers, two alternate email addresses, and five security questions and answers.  Yes, this is very low-tech, but it will work until we update our site with the code that will do this for you.  Further, if you no longer have access to or change any of the above information, tell us, so that someone else who ends up porting your old phone number or using your old email address doesn't inadvertently gain access to your account.</h3> 

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", :class => "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
