<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="../../favicon.ico" rel="icon">

    <title>TOS Fairness Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron.css" rel="stylesheet"> -->
  </head>

  <body>
    <div class="d-flex flex-column">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-secondary">
        <%= link_to "TOSfairness", root_path, :class => "navbar-brand" %>
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation" type="button" data-target="#navbarsExampleDefault" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to "All Ratings", companies_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">The Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bill_of_rights">The Bill of Rights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rating_system">The Rating System</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/break_diving">Break Diving</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/volunteer">Volunteer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/donate">Donate</a>
            </li>
            <% if user_signed_in? && current_user.admin? %>
              <li class="nav-item">
                <%= link_to "Update Request List", update_requests_path, :class => "nav-link" %>
              </li>
            <% end %>
          </ul>
          <ul class="navbar-nav justify-content-end">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to "Profile", edit_user_registration_path, :class => "nav-link" %></li>
              <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "nav-link" %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Sign In", new_user_session_path, :class => "nav-link" %></li>
              <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, :class => "nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </nav>

      <% if notice.present? %>
        <p class='alert alert-info'><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class='alert alert-danger'><%= alert %></p>
      <% end %>
      <%= yield %>

      <div id="footer">
        <div class="container-fluid">
          <div class="row">

          </div>
          <br />
            <!-- <div class="col-md-5">
            </div> -->
            <!-- <div class="col-md-7">
              <ul class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link" href="/index.html">TOS Fairness</a></li>
                <li class="nav-item"><a class="nav-link" href="/terms.html">Terms &amp; Privacy</a></li>
                <li class="nav-item"><a class="nav-link" href="/tax.html">Tax Info</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="/about.html">Contact us</a></li>
                <li class="nav-item">
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UCB8FFTMURRAC">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"  target="_blank" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                  </form>
                </li>
              </ul>
            </div> -->
          <!-- </div> -->
          <div class="row text-center footer-desktop">
            <div class='col-md-8 offset-md-2 col-sm-12'>
              <%= link_to 'TOS Fairness', root_path %>
              <%= link_to 'Terms & Privacy', terms_path %>
              <%= link_to 'Tax Info', 'https://www.breakdiving.org/tax_document.html', :target => '_blank' %>
              <%= link_to 'Contact Us', about_path %>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-6 offset-md-3">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="UCB8FFTMURRAC">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"  target="_blank" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
              © 2018 Break Diving, Inc. All Rights reserved.
            </div>
          </div>
        </div>
      </div>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"></script>
      <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    </div>
  </body>
</html>
